@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    transition: all 0.3s ease;
}

:root {
    --cinza-escuro: #1B1C1B;
    --cinza-claro: #383838;
    --laranja: #EE7916;
}

/* Background da página */

.background {
    background-color: var(--cinza-claro);
    display: flex;
    justify-content: center;
}

#background1 {
    height: 60vh;
}

#background2 {
    height: 20px;
    background-color: var(--laranja);
}

#background3, #background4, #background5, #background6 {
    background-color: white;
}

/* Estrutura das Sections */

.estrutura {
    height: 100%;
    width: 1200px;
    padding: 20px;
}

#estrutura1 {
    background: linear-gradient( to top, #ffffff00, var(--cinza-claro)), 
    url(img/banner-04.jpg);

    width: 2000px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

#estrutura3 {
    display: flex;
    align-items: center;
    gap: 80px;
}

#estrutura4 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 50px 0;
}

#estrutura6 {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

/* ----- Personalização das Divs ----- */

/* Referente à parte 1 do site, contendo Banner e linha de separação laranja */

#logo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 30px 0;
}

#logo-section img {
    width: 300px;
}

#logo-section h2 {
    font-size: 15px;
    position: absolute;
    top: 55vh;
    font-style: italic;
    text-shadow: 1px 1px 5px #0000002c;
}

#nav-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
    padding: 30px 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid transparent;
}

nav ul li:hover {
    cursor: pointer;
    border-bottom: solid 1px var(--laranja);
}

.li-laranja {
    color: var(--laranja);
}

.li-branco {
    color: white;
}

#banner-h2 {
    text-align: center;
}

#banner-h2 h2 {
    text-shadow: 1px 1px 5px black;

}

/* Referente à parte 3 do site, a parte de conteúdo "Tecnologia e Inovação */

.titulos {
    display: flex;
    align-items: center;
    color: var(--laranja);
    gap: 10px;
    text-transform: uppercase;
}

.logo-titulo { 
    width: 40px;
}

strong {
    color: var(--laranja);
    text-transform: uppercase;
}

.txt-padrao {
    font-size: 20px;
}

#tec-inovacao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#tec-inovacao-img {
    display: flex;
    justify-content: center;
}

#tec-inovacao-img img {
    width: 300px;
}

/* Referente à parte 4 do site, a parte de boxes de Produtos */

.prods {
    width: 240px;
    height: 140px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.prods:hover {
    cursor: pointer;
    background-color: var(--laranja);
}

.prods-img {
    width: 70px;
}

/* Referente à parte 5 do site, a parte de conteúdo "Sustentabilidade e Processo Produtivo */

#sust-process {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#sust-process img {
    width: 300px;
    padding: 5px;
}

/* Referente à parte 6 do site, a parte de conteúdo "Recondicionamento */

#recondicionamento {
    background-color: rgb(105, 105, 105);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    border-radius: 15px;
    color: white
}

#fibras {
    width: 200px;
}

#recon-titulo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
}

#tit-back6 {
    margin-bottom: 30px;
}