@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    transition: all 0.3s ease;
}

:root {
    --cinza-escuro: #1B1C1B;
    --cinza-claro: #383838;
    --laranja: #EE7916;
}

/* Background da página */

.background {
    background-color: var(--cinza-claro);
    display: flex;
    justify-content: center;
}

#background1 {
    height: 60vh;
}

#background2 {
    height: 20px;
    background-color: var(--laranja);
}

#background3, #background4, #background5, #background6, #background7 {
    background-color: white;
}

#background8 {
    background-color: var(--cinza-escuro);
}

/* Estrutura das Sections */

.estrutura {
    height: 100%;
    width: 1200px;
    padding: 20px;
}

#estrutura1 {
    background: linear-gradient( to top, #ffffff00, var(--cinza-claro)), 
    url(img/banner-04.jpg);

    width: 2000px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

#estrutura3 {
    display: flex;
    align-items: center;
    gap: 80px;
}

#estrutura4 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 50px 0;
}

#estrutura6 {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

#estrutura7 {
    display: flex;
    justify-content: center;
}

#estrutura8 {
    display: flex;
}

/* ----- Personalização das Divs ----- */

/* Referente à parte 1 do site, contendo Banner e linha de separação laranja */

#logo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 30px 0;
}

#logo {
    width: 300px;
}

#logo-section h2 {
    font-size: 15px;
    position: absolute;
    top: 55vh;
    font-style: italic;
    text-shadow: 1px 1px 5px #0000002c;
}

#nav-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
    padding: 30px 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid transparent;
}

nav ul li:hover {
    cursor: pointer;
    border-bottom: solid 1px var(--laranja);
}

.li-laranja {
    color: var(--laranja);
}

.li-branco {
    color: white;
}

#banner-h2 {
    text-align: end;
    position: relative;
    right: -120px;
}

#banner-h2 h2 {
    text-shadow: 1px 1px 6px black;
}

/* Referente à parte 3 do site, a parte de conteúdo "Tecnologia e Inovação */

.titulos {
    display: flex;
    align-items: center;
    color: var(--laranja);
    gap: 10px;
    text-transform: uppercase;
    font-size: 24px;
}

.logo-titulo { 
    width: 40px;
}

strong {
    color: var(--laranja);
    text-transform: uppercase;
}

.txt-padrao {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#tec-inovacao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#tec-inovacao-img {
    display: flex;
    justify-content: center;
}

#tec-inovacao-img img {
    width: 300px;
}

/* Referente à parte 4 do site, a parte de boxes de Produtos */

.quadros {
    display: block;
    width: 240px;
    height: 170px;
    position: relative;
}

.quadros img {
    width: 240px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

#quadros-on {
    display: block;
    opacity: 1;
}

#quadros-off {
    opacity: 0;
}

.quadros:hover #quadros-on {
    opacity: 0;
    cursor: pointer;
}

.quadros:hover #quadros-off {
    opacity: 1;
    cursor: pointer;
}

/* Referente à parte 5 do site, a parte de conteúdo "Sustentabilidade e Processo Produtivo */

#sust-process {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#sust-process img {
    width: 300px;
    padding: 5px;
}

/* Referente à parte 6 do site, a parte de conteúdo "Recondicionamento */

#recondicionamento {
    background-color: rgb(105, 105, 105);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    border-radius: 15px;
    color: white
}

#fibras {
    width: 200px;
}

#recon-titulo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
}

#tit-back6 {
    margin-bottom: 30px;
}

/* Referente à parte 7 do site, a parte de *Formulário de e-mail*/

#contato {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 1px 1px 5px #0000009f;
    border-radius: 20px;
    background: url(img/lucas-k-GAM-7l4QzmI-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;

}

#aba-redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 50%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    gap: 10px;
    padding: 20px;
}

#tit-back7 {
    margin-bottom: 20px;
    align-self: center ;
}

h6 {
    color: var(--cinza-claro);
    font-size: 20px;
}

.listing-fale-conosco {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: 2px solid transparent;
}

.listing-fale-conosco h6:hover {
    border-bottom: solid 2px var(--laranja);
}

.a-contato {
    display: flex;
    align-items: center;
    gap: 10px;
}


#aba-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 20px;
}

#formm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.campo-form {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
}

#text {
    height: 100px;
}

#btn-envia {
    padding: 10px;
    width: 30%;
    background-color: var(--cinza-claro);
    color: white;
    border: none;
    border-radius: 10px;
    align-self: center;
}

#btn-envia:hover {
    cursor: pointer;
    background-color: var(--laranja);
}

/* Referente à parte 8 do site, a parte do *Rodapé*/

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

#footer-logo-rs {
    display: flex;
    flex-direction: column;
}

#footer-redes-sociais {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

#footer-redes-sociais img {
    width: 45px;
    border-bottom: 2px solid transparent;
    padding: 5px;
}

#footer-redes-sociais img:hover {
    border-bottom: 2px solid var(--laranja);
}

#logo-footer {
    width: 200px;
}

#footer-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#a-footer {
    color: white;
}

#a-footer:hover {
    color: var(--laranja);
}

#footer-iframe {
    display: flex;
    flex-direction: column;
}

#footer-iframe h3 {
    color: white;
    border-bottom: 1px solid var(--laranja);
    margin-bottom: 20px;
    text-align: center;
}

iframe {
    width: 350px;
    height: 250px;
}

.registro {
    background-color: var(--cinza-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    flex-wrap: wrap;
    color: white;
  }
  
  .bortoac-logo {
    width: 30px;
    margin-left: 5px;
  }
  
  .logo-bortoac {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  